<ion-content>
      <div class="container">
            <div class="left">
                  <button [ngClass]="{'button': true, 'active': active.info}" class="button"
                        (click)="onClick(1)">Information</button>
                  <button [ngClass]="{'button': true, 'active': active.gallery}" (click)="onClick(2)">Image
                        Gallery</button>
                  <button [ngClass]="{'button': true, 'active': active.facilities}"
                        (click)="onClick(3)">Facilities</button>
                  <button [ngClass]="{'button': true, 'active': active.attractions}"
                        (click)="onClick(4)">Attractions</button>
            </div>
            <div class="info" *ngIf="active.info">
                  <div class="shortinputs">
                        <ion-item>
                              <ion-label position="floating">Hotel Title</ion-label>
                              <ion-input type="text" [(ngModel)]="info.name"></ion-input>
                        </ion-item>
                        <ion-item>
                              <ion-label position="floating">Location</ion-label>
                              <ion-input type="text"  [(ngModel)]="info.location"></ion-input>
                        </ion-item>
                        <div class="houserules">
                              <h3>House Rules</h3>
                              <ion-item>
                                    <ion-label position="floating">Check-in Time</ion-label>
                                    <ion-datetime displayFormat="HH:mm" [(ngModel)]="info.checkin"></ion-datetime>
                                    <!-- <p> {{info.checkin | date: "shortTime"}} </p> -->
                              </ion-item>
                              <ion-item>
                                    <ion-label position="floating">Check-out Time</ion-label>
                                    <ion-datetime displayFormat="HH:mm" [(ngModel)]="info.checkout"></ion-datetime>
                              </ion-item>
                              <ion-item>
                                    <ion-label position="floating">Children and Beds</ion-label>
                                    <ion-textarea rows="19" cols="50"  [(ngModel)]="info.children"></ion-textarea>
                              </ion-item>
                        </div>
                  </div>
                  <div class="longinputs">
                        <ion-item>
                              <ion-label position="floating">Description</ion-label>
                              <ion-textarea rows="15" cols="50"  [(ngModel)]="info.description"></ion-textarea>
                        </ion-item>
                        <ion-item>
                              <ion-label position="floating">Fine print</ion-label>
                              <ion-textarea rows="15" cols="50"  [(ngModel)]="info.fineprint"></ion-textarea>
                        </ion-item>
                        <ion-button (click)="updatehotel()">
                              Save
                        </ion-button>
                  </div>
            </div>
            <div class="gallery" *ngIf="active.gallery">
                  <div class="header">
                        <ion-item>
                              <ion-input type="file" accept="image/*" multiple="false" (change)="uploadimage($event.target.files)"></ion-input>
                        </ion-item>
                        <ion-progress-bar value="{{uploadprogress / 100}}"></ion-progress-bar>
                  </div>
                  <div class="g-images">
                        <div class="image" *ngFor="let image of imagegallery">
                              <div class="remove">
                                    <div class="r-header">
                                          <ion-button (click)="removeimage(image) " color="light" fill="outline">
                                                Remove Image
                                          </ion-button>
                                    </div>
                              </div>
                              <img src="{{image}}"
                                    alt="">
                        </div>
                  </div>
            </div>
            <div class="facilities" *ngIf="active.facilities">
                  <div class="one">
                        <div>
                              <h1>Outdoors</h1>
                              <ion-item>

                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.outdoors">
                                                <ion-select-option >Outdoor furniture</ion-select-option>
                                                <ion-select-option >Beachfront</ion-select-option>
                                                <ion-select-option >Sun terrace</ion-select-option>
                                                <ion-select-option >Terrace</ion-select-option>
                                                <ion-select-option >Garden</ion-select-option>
                                                
                                    </ion-select>
                              </ion-item>
                        </div>
                        <div>
                              <h1>Internet</h1>
                              <ion-item>

                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.internet">
                                                <ion-select-option >Wifi is available and free of charge</ion-select-option>
                                                <ion-select-option >Free wifi not available</ion-select-option>
                                    </ion-select>
                              </ion-item>
                        </div>
                        <div>
                              <h1>General</h1>
                              <ion-item>

                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.general">
                                                <ion-select-option >Shuttle service</ion-select-option>
                                                <ion-select-option >Airport shuttle</ion-select-option>
                                                <ion-select-option >Designated smoking area</ion-select-option>
                                                <ion-select-option >Air conditioning'</ion-select-option>
                                                <ion-select-option >Packed lunches</ion-select-option>
                                                <ion-select-option >Heating</ion-select-option>
                                                <ion-select-option >Gift shop</ion-select-option>
                                                <ion-select-option >Safety deposit box</ion-select-option>
                                                <ion-select-option >Lift</ion-select-option>
                                                <ion-select-option >Barber/beauty shop</ion-select-option>
                                                <ion-select-option >Facilities for disabled guests</ion-select-option>
                                                <ion-select-option >Non-smoking rooms</ion-select-option>
                                                <ion-select-option >Newspapers</ion-select-option>
                                                <ion-select-option >Room service</ion-select-option>
                                    </ion-select>
                              </ion-item>
                        </div>
                  </div>
                  <div class="one">
                        <div>
                              <h1>Pets</h1>
                              <ion-item>
                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.pets">
                                                <ion-select-option >Pets allowed</ion-select-option>
                                                <ion-select-option >Pets not allowed</ion-select-option>
                                    </ion-select>
                              </ion-item>
                        </div>
                        <div>
                              <h1>Parking</h1>
                              <ion-item>

                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.parking">
                                                <ion-select-option >Parking garage</ion-select-option>
                                                <ion-select-option >Secure Parking</ion-select-option>
                                    </ion-select>
                              </ion-item>
                        </div>
                        <div>
                              <h1>Languages spoken</h1>
                              <ion-item>
                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.languages">
                                                <ion-select-option >English</ion-select-option>
                                                <ion-select-option >Afrikaans</ion-select-option>
                                                <ion-select-option >Zulu</ion-select-option>
                                                <ion-select-option >Xhosa</ion-select-option>
                                                <ion-select-option >Southern Sotho</ion-select-option>
                                                <ion-select-option >Tswana</ion-select-option>
                                                <ion-select-option >Venda</ion-select-option>
                                                <ion-select-option >Nothern Sotho</ion-select-option>
                                                <ion-select-option >Tsonga</ion-select-option>
                                                <ion-select-option >Swati</ion-select-option>
                                                <ion-select-option >Ndebele</ion-select-option>
                                    </ion-select>
                              </ion-item>
                        </div>
                  </div>
                  <div class="one">
                        <div>
                              <h1>Activities</h1>
                              <ion-item>
                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.activities">
                                          <ion-select-option >Beach</ion-select-option>
                                          <ion-select-option >Cycling</ion-select-option>
                                          <ion-select-option >Bicycle rental</ion-select-option>
                                          <ion-select-option >Golf course (within 3 km)</ion-select-option>
                                    </ion-select>
                              </ion-item>
                        </div>
                        <div>
                              <h1>Transport</h1>
                              <ion-item>
                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.transport">
                                                <ion-select-option >Airport drop off</ion-select-option>
                                                <ion-select-option >Airport pick up</ion-select-option>
                                    </ion-select>
                              </ion-item>
                        </div>
                        <div>
                              <h1>Cleaning services</h1>
                              <ion-item>
                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.cleaning">
                                                <ion-select-option >Daily housekeeping</ion-select-option>
                                                <ion-select-option >Trouser press</ion-select-option>
                                                <ion-select-option >Ironing service</ion-select-option>
                                                <ion-select-option >Dry cleaning</ion-select-option>
                                                <ion-select-option >Laundry</ion-select-option>
                                    </ion-select>
                              </ion-item>
                        </div>
                  </div>
                  <div class="one">
                        <div>
                              <h1>Food & Drink</h1>
                              <ion-item>
                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.food">
                                                <ion-select-option >On-site coffee house</ion-select-option>
                                                <ion-select-option >Bottle of water</ion-select-option>
                                                <ion-select-option >Wine/champagne</ion-select-option>
                                                <ion-select-option >Special diet menus (on request)</ion-select-option>
                                                <ion-select-option >Breakfast in the room</ion-select-option>
                                                <ion-select-option >Bar</ion-select-option>
                                                <ion-select-option >Restaurant</ion-select-option>
                                                <ion-select-option >Very good coffee!</ion-select-option>
                                    </ion-select>
                              </ion-item>
                        </div>
                        <div>
                              <h1>Reception services</h1>
                              <ion-item>
                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.reception">
                                                <ion-select-option >Concierge service</ion-select-option>
                                                <ion-select-option >Luggage storage</ion-select-option>
                                                <ion-select-option >Tour desk</ion-select-option>
                                                <ion-select-option >Currency exchange</ion-select-option>
                                                <ion-select-option >24-hour front desk</ion-select-option>
                                    </ion-select>
                              </ion-item>
                        </div>
                        <div>
                              <h1>Business facilities</h1>
                              <ion-item>
                                    <ion-select multiple="true" placeholder="Select Options" [(ngModel)]="facilities.business">
                                                <ion-select-option >Fax/photocopying</ion-select-option>
                                                <ion-select-option >Business centre</ion-select-option>
                                                <ion-select-option >Meeting/banquet facilities</ion-select-option>
                                    </ion-select>
                              </ion-item>
                        </div>
                  </div>
                  <div class="one">
                        <ion-button (click)="hotelfacilities()">
                              Save
                        </ion-button>
                        <p>{{feedback}}</p>
                  </div>
            </div>
            <div class="attractions" *ngIf="active.attractions">
                  <div class="fom">
                        <div>
                                    <ion-progress-bar value="{{attractionUpload / 100}}"></ion-progress-bar>
                                    <p *ngIf="attractionUpload==100">Done</p>
                                    <p *ngIf="isuploading">Uploading</p>
                                    <ion-item>
                                                <ion-label position="floating" >Category of attraction</ion-label>
                                          <ion-select multiple="false" [(ngModel)]="attraction.category">
                                                      <ion-select-option value="natural">Natural</ion-select-option>
                                                      <ion-select-option value="landmark">Landmark</ion-select-option>
                                          </ion-select>
                                          </ion-item>
                              <ion-item>  
                                    <ion-input type="file" accept="image/*" multiple="false" (change)="attractionimage($event.target.files)"></ion-input>
                              </ion-item>
                              <ion-item>
                                    <ion-label position="floating">Attraction Name</ion-label>
                                    <ion-input type="text" [(ngModel)]="attraction.name"></ion-input>
                              </ion-item>
                              <ion-item>
                                    <ion-label position="floating" >Distance from Hotel</ion-label>
                                    <ion-input type="text" [(ngModel)]="attraction.distance"></ion-input>
                              </ion-item>
                              <ion-item>
                                    <ion-label position="floating">Description</ion-label>
                                    <ion-textarea rows="20" cols="40"  [(ngModel)]="attraction.description"></ion-textarea>
                              </ion-item>
                              <ion-button (click)="addAttraction()">
                                    <ion-icon slot="start" name="save"></ion-icon>
                                    Save
                              </ion-button>
                              <ion-button color="danger" (click)="clearattractionform()">
                                          <ion-icon slot="start" name="close"></ion-icon>
                                          Clear
                                    </ion-button>
                        </div>
                  </div>
                  <div class="f-disp">
                        <div class="a-card" *ngFor="let attraction of listattractions" (click)="updateAttraction(attraction)">
                              <div class="image">
                                    <img src="{{attraction.image}}">
                              </div>
                              <div class="details">
                                          <h1>{{attraction.name}}</h1>
                                          <h4>{{attraction.distance}} km</h4>
                                          <p *ngIf="!attraction.description">No description</p>
                                          <p *ngIf="attraction.description">{{attraction.description}}</p>
                              </div>
                              <div class="remove">
                                    <ion-fab-button color="danger" (click)="deleteAttraction(attraction)">
                                          <ion-icon name="trash"></ion-icon>
                                    </ion-fab-button>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</ion-content>