<ion-content>
<div class="container">
  <div class="title">
    <div>
      <h3>Bookings: {{overallbookings}}</h3>
    </div>
  </div>
  <div class="bookings">
    <div *ngFor="let n of bookings" class="card">
      <div class="head">
        <h3> {{n.roomname}} </h3>
      </div>
      <div class="body">
        <p>Was booked by, {{n.name}} {{n.surname}} </p>
        <p>Who was staying from {{n.checkin | date}} to {{n.checkout | date}} (<i>{{n.days}} days</i>) with {{n.adults}} person(s) </p>
      </div>
    </div>  
  </div>
</div>
</ion-content>
