<ion-content>
  <div class="container">
    <div class="users">
      <div class="title">
        <h3>Users</h3>
      </div>
      <div class="list">
        <div class="image" *ngFor="let u of users" (click)="selectUser(u)">
          <div class="name">
            <p>{{u.name}} {{u.surname}}</p>
          </div>
          <img src="{{u.image}}" alt="">
        </div>
      </div>
    </div>
    <div class="profile">
      <div class="opac"></div>
      <div class="fullname">
        <p>{{user.name}} {{user.surname}}</p>
      </div>
      <div class="contacts">
        <p>{{user.phone}}</p>
        <p>{{user.email}}</p>
      </div>
      <img src="{{user.image}}" alt="">
    </div>
    <div class="reviews">
      <div class="header">
        <h3>Reviews</h3>
      </div>
      <div class="rev-list">
        <p *ngIf="!isreviews">No reviews to display.</p>
        <div class="text" *ngFor="let r of reviews">
          
          <div>
              <h5>{{r.date}}</h5>
              "<i>{{r.text}}</i>"
              
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
