<ion-content>
  <div class="container">
    <div class="users">
      <div class="title">
        <h3>Users</h3>
      </div>
      <div class="list">
        <div class="image">
          <div class="name">
            <p>Name Surname</p>
          </div>
          <img src="../../assets/kissclipart-co-working-clipart-coworking-office-ecacaf3ccaf01a26.jpg" alt="">
        </div>
        <div class="image">
            <div class="name">
              <p>Name Surname</p>
            </div>
            <img src="../../assets/kissclipart-co-working-clipart-coworking-office-ecacaf3ccaf01a26.jpg" alt="">
          </div>
          <div class="image">
              <div class="name">
                <p>Name Surname</p>
              </div>
              <img src="../../assets/kissclipart-co-working-clipart-coworking-office-ecacaf3ccaf01a26.jpg" alt="">
            </div>
            <div class="image">
                <div class="name">
                  <p>Name Surname</p>
                </div>
                <img src="../../assets/kissclipart-co-working-clipart-coworking-office-ecacaf3ccaf01a26.jpg" alt="">
              </div>
              <div class="image">
                  <div class="name">
                    <p>Name Surname</p>
                  </div>
                  <img src="../../assets/kissclipart-co-working-clipart-coworking-office-ecacaf3ccaf01a26.jpg" alt="">
                </div>
                <div class="image">
                    <div class="name">
                      <p>Name Surname</p>
                    </div>
                    <img src="../../assets/kissclipart-co-working-clipart-coworking-office-ecacaf3ccaf01a26.jpg" alt="">
                  </div>

                  <div class="image">
                      <div class="name">
                        <p>Name Surname</p>
                      </div>
                      <img src="../../assets/kissclipart-co-working-clipart-coworking-office-ecacaf3ccaf01a26.jpg" alt="">
                    </div>
                    <div class="image">
                        <div class="name">
                          <p>Name Surname</p>
                        </div>
                        <img src="../../assets/kissclipart-co-working-clipart-coworking-office-ecacaf3ccaf01a26.jpg" alt="">
                      </div>
      </div>
    </div>
    <div class="profile">
      <div class="opac"></div>
      <div class="fullname">
        <p>Name Surname</p>
      </div>
      <div class="contacts">
        <p>012548789962</p>
        <p>areallylongemail@mail.com</p>
      </div>
      <img src="../../assets/kissclipart-co-working-clipart-coworking-office-ecacaf3ccaf01a26.jpg" alt="">
    </div>
    <div class="reviews">
      <div class="header">
        <h3>Reviews</h3>
      </div>
      <div class="rev-list">
        <div class="text">
          <h5>27 Jul, 2019</h5>
          "Lorem aute voluptate sint sint duis irure sint eu Lorem excepteur. Amet dolore dolor est nisi. Sunt aliquip sit esse adipisicing velit mollit."
        </div>
        <div class="text">
            <h5>27 Jul, 2019</h5>
            "Lorem aute voluptate sint sint duis irure sint eu Lorem excepteur. Amet dolore dolor est nisi. Sunt aliquip sit esse adipisicing velit mollit."
          </div>
          <div class="text">
              <h5>27 Jul, 2019</h5>
              "Lorem aute voluptate sint sint duis irure sint eu Lorem excepteur. Amet dolore dolor est nisi. Sunt aliquip sit esse adipisicing velit mollit."
            </div>
            <div class="text">
                <h5>27 Jul, 2019</h5>
                "Lorem aute voluptate sint sint duis irure sint eu Lorem excepteur. Amet dolore dolor est nisi. Sunt aliquip sit esse adipisicing velit mollit."
              </div>
              <div class="text">
                  <h5>27 Jul, 2019</h5>
                  "Lorem aute voluptate sint sint duis irure sint eu Lorem excepteur. Amet dolore dolor est nisi. Sunt aliquip sit esse adipisicing velit mollit."
                </div>
                <div class="text">
                    <h5>27 Jul, 2019</h5>
                    "Lorem aute voluptate sint sint duis irure sint eu Lorem excepteur. Amet dolore dolor est nisi. Sunt aliquip sit esse adipisicing velit mollit."
                  </div>
                  <div class="text">
                      <h5>27 Jul, 2019</h5>
                      "Lorem aute voluptate sint sint duis irure sint eu Lorem excepteur. Amet dolore dolor est nisi. Sunt aliquip sit esse adipisicing velit mollit."
                    </div>
                    <div class="text">
                        <h5>27 Jul, 2019</h5>
                        "Lorem aute voluptate sint sint duis irure sint eu Lorem excepteur. Amet dolore dolor est nisi. Sunt aliquip sit esse adipisicing velit mollit."
                      </div>
                      <div class="text">
                          <h5>27 Jul, 2019</h5>
                          "Lorem aute voluptate sint sint duis irure sint eu Lorem excepteur. Amet dolore dolor est nisi. Sunt aliquip sit esse adipisicing velit mollit."
                        </div>
      </div>
    </div>
  </div>
</ion-content>
