  <ion-content>
    <div class="main">
      <div class="form">
        <div class="image">
          <img src="../../../assets/icon.png" alt="">
          <p>Azure Grotto</p>
        </div>
        <div>
              <form #adminLogin="ngForm" (ngSubmit)="loginAdmin(adminLogin.value)">
                  <ion-item>
                      <ion-label position="floating">Email</ion-label>
                      <ion-input type="email" ngModel name="email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" ngModel name="password"></ion-input>
                      </ion-item>
                      <div class="forgotpassword">
                        <p>Forgot Password?</p>
                      </div>
                      <div class="login">
                          <button>Login</button>
                        </div>
              </form>
                  
        </div>
      </div>
      <div class="footer">
        <p>@ 2019 Hotel CMS Admin. All Right Reserved</p>
      </div>
    </div>
  </ion-content>