<ion-content>
  <div class="container">
    <h1>Manage Rooms</h1>
    <div class="formm">
      <ion-item *ngIf="!room.image">
        <ion-label position="stacked" id="profile_image" color="primary">Select Room image</ion-label>
        <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
      </ion-item>
      <ion-item *ngIf="room.image"><img  src="{{room.image}}" height="80" width="80"></ion-item>
      
      <ion-item>
        <ion-label position="floating" color="primary" floating>Name</ion-label>
        <ion-input [(ngModel)]="room.name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary" floating>Price</ion-label>
        <ion-input [(ngModel)]="room.price" type="number"></ion-input>
      </ion-item>
      <!-- Textarea in an item with a floating label -->
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="room.description" rows="5"></ion-textarea>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Features</ion-label>
          <ion-select [(ngModel)]="room.features" okText="Okay" multiple="true"   cancelText="Dismiss">
            <ion-select-option *ngFor="let n of features">{{n}}</ion-select-option>
          </ion-select>
        </ion-item>
      <ion-button (click)="addRoom()" expand="full"> Save Room</ion-button>
      <!-- <ion-button (click)="cancel()" color="danger" expand="full"> Cancel</ion-button> -->
    </div>
  </div>
</ion-content>