<ion-content>
<div class="form">
            <ion-progress-bar value="{{uploadprogress / 100}}"></ion-progress-bar>
      <ion-item>
                  <ion-label position="stacked">Room image</ion-label>
                  <p *ngIf="isuploading">Uploading</p>
                  <p *ngIf="!isuploading&&uploadprogress==100">Done</p>
                              <ion-input type="file" accept="image/*" multiple="false" (change)="selectimage($event.target.files)"></ion-input>
      </ion-item>
            <ion-item>
                  <ion-label position="floating">Room Type</ion-label>
                  <ion-input type="text" [(ngModel)]="accommodation.name"></ion-input>
            </ion-item>
            <ion-item>
                        <ion-label position="floating">Room Rate (pp/pn)</ion-label>
                        <ion-input type="text" [(ngModel)]="accommodation.price"></ion-input>
                  </ion-item>
            <ion-item>
                        <ion-label position="floating">Features</ion-label>
                  <ion-select multiple="true" [(ngModel)]="accommodation.features">
                        <ion-select-option *ngFor="let f of features">{{f}}</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
                  <ion-label position="floating">Description</ion-label>
                  <ion-textarea rows="10" cols="30" [(ngModel)]="accommodation.description"></ion-textarea>
            </ion-item>
            <ion-button expand="" (click)="add()">
            Save
            </ion-button>
            <ion-button color="danger" expand="" (click)="clear()">
                        Clear
            </ion-button>
            <ion-button expand="full" size="large" (click)="Tbookings()">
                        Bookings
                  </ion-button>
</div>
<div class="display">
      <div class="d-card" *ngFor="let n of listaccommodation" (click)="edit(n)">
            <div [ngClass]="{'booking': !togglebookings, 'b-active': togglebookings}">
                  <h1>Bookings for {{n.name}}</h1>
                  <ion-button expand="full" color="light" (click)="Tbookings()">
                        close
                  </ion-button>
                  <div class="book">
                        <div class="b-card" *ngFor="let b of listbookings">
                        <div *ngIf="n.name==b.roomname">
                              
                              <h2>{{b.roomname}}</h2>
                              <p>Checkin: {{b.checkin | date}} </p>
                              <p>Checkout: {{b.checkout | date}}</p>
                              <p>Cost: R {{b.price}}</p>
                              <div *ngFor="let u of listusers">
                                          <p *ngIf="b.uid==u.uid">Booked by: {{u.name}} {{u.surname}}</p>
                                          
                              </div>
                        </div>
                        </div>
                        
                  </div>
            </div>
            <div class="remove">
                  <ion-fab-button color="danger" (click)="delete(n)">
                        <ion-icon name="trash"></ion-icon>
                  </ion-fab-button>
            </div>
            <div class="d-image">
                  <img src="{{n.image}}" alt="">
            </div>
            <div class="details">
                  <div class="r-name">
                        <h3>{{n.name}}</h3>
                        <p>R {{n.price}} pp/pn</p>
                  </div>
                  <p>{{n.description}}</p>

                  <div class="featuers">
                        <h3>Features</h3>
                        <hr>
                        <div class="fet">
                              <p *ngFor="let f of n.features">{{f}}</p>
                        </div>
                        <p>Created: {{n.lastcreated}}</p>
                  </div>
                  
            </div>
      </div>
      <div class="listb">
                  
      </div>
</div>
</ion-content>
