<ion-content>
<div class="form">
      <ion-item>
                  <ion-label position="stacked">Room image</ion-label>
            <ion-input type="file" accept="image/*" multiple="false"></ion-input>
      </ion-item>
            <ion-item>
                  <ion-label position="floating">Room Type</ion-label>
                  <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                        <ion-label position="floating">Features</ion-label>
                  <ion-select multiple="true" >
                        <ion-select-option value="peperoni">Peperoni</ion-select-option>
                        <ion-select-option value="hawaii">Hawaii</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
                        <ion-label position="floating">Facilities</ion-label>
                  <ion-select multiple="true">
                        <ion-select-option value="peperoni">Peperoni</ion-select-option>
                        <ion-select-option value="hawaii">Hawaii</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
                  <ion-label position="floating">Description</ion-label>
                  <ion-textarea rows="20" cols="50"></ion-textarea>
            </ion-item>
            <ion-button expand="full">
            Save
            </ion-button>
</div>
<div class="display">
      <div class="d-card">
            <div class="remove">
                  <ion-fab-button color="danger">
                        <ion-icon name="trash"></ion-icon>
                  </ion-fab-button>
            </div>
            <div class="d-image">
                  <img src="../../assets/kisspng-coworking-virtual-office-company-business-good-job-5ad0443e7ebe59.4126615915235983985192.jpg" alt="">
            </div>
            <div class="details">
                  <div class="r-name">
                        <h3>Room Name</h3>
                        <p>R 999 pp/pn</p>
                  </div>
                  <p>Mollit amet nisi sunt ullamco reprehenderit irure commodo cillum cillum irure tempor fugiat elit. Sit commodo aute occaecat velit cupidatat esse mollit eu. Reprehenderit sint ullamco tempor laboris reprehenderit non dolor anim eu do nulla et exercitation. Labore aute adipisicing occaecat aliquip ullamco deserunt do minim sit do est magna non. Incididunt cillum voluptate id duis. Cupidatat proident aliqua id aute pariatur tempor veniam ullamco laboris id pariatur laboris aliquip Lorem.</p>

                  <div class="featuers">
                        <h3>Features</h3>
                        <hr>
                        <div class="fet">
                              <p>Feature 1</p> <p>Feature 2</p> <p>Another long feature</p> <p>simple feature</p> <p>one feature</p>
                        </div>
                  </div>
            </div>
      </div>
      <div class="d-card">
                  <div class="remove">
                        <ion-fab-button color="danger">
                              <ion-icon name="trash"></ion-icon>
                        </ion-fab-button>
                  </div>
                  <div class="d-image">
                        <img src="../../assets/kisspng-coworking-virtual-office-company-business-good-job-5ad0443e7ebe59.4126615915235983985192.jpg" alt="">
                  </div>
                  <div class="details">
                        <div class="r-name">
                              <h3>Room Name</h3>
                              <p>R 999 pp/pn</p>
                        </div>
                        <p>Mollit amet nisi sunt ullamco reprehenderit irure commodo cillum cillum irure tempor fugiat elit. Sit commodo aute occaecat velit cupidatat esse mollit eu. Reprehenderit sint ullamco tempor laboris reprehenderit non dolor anim eu do nulla et exercitation. Labore aute adipisicing occaecat aliquip ullamco deserunt do minim sit do est magna non. Incididunt cillum voluptate id duis. Cupidatat proident aliqua id aute pariatur tempor veniam ullamco laboris id pariatur laboris aliquip Lorem.</p>
      
                        <div class="featuers">
                              <h3>Features</h3>
                              <hr>
                              <div class="fet">
                                    <p>Feature 1</p> <p>Feature 2</p> <p>Another long feature</p> <p>simple feature</p> <p>one feature</p>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="d-card">
                        <div class="remove">
                              <ion-fab-button color="danger">
                                    <ion-icon name="trash"></ion-icon>
                              </ion-fab-button>
                        </div>
                        <div class="d-image">
                              <img src="../../assets/kisspng-coworking-virtual-office-company-business-good-job-5ad0443e7ebe59.4126615915235983985192.jpg" alt="">
                        </div>
                        <div class="details">
                              <div class="r-name">
                                    <h3>Room Name</h3>
                                    <p>R 999 pp/pn</p>
                              </div>
                              <p>Mollit amet nisi sunt ullamco reprehenderit irure commodo cillum cillum irure tempor fugiat elit. Sit commodo aute occaecat velit cupidatat esse mollit eu. Reprehenderit sint ullamco tempor laboris reprehenderit non dolor anim eu do nulla et exercitation. Labore aute adipisicing occaecat aliquip ullamco deserunt do minim sit do est magna non. Incididunt cillum voluptate id duis. Cupidatat proident aliqua id aute pariatur tempor veniam ullamco laboris id pariatur laboris aliquip Lorem.</p>
            
                              <div class="featuers">
                                    <h3>Features</h3>
                                    <hr>
                                    <div class="fet">
                                          <p>Feature 1</p> <p>Feature 2</p> <p>Another long feature</p> <p>simple feature</p> <p>one feature</p>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="d-card">
                              <div class="remove">
                                    <ion-fab-button color="danger">
                                          <ion-icon name="trash"></ion-icon>
                                    </ion-fab-button>
                              </div>
                              <div class="d-image">
                                    <img src="../../assets/kisspng-coworking-virtual-office-company-business-good-job-5ad0443e7ebe59.4126615915235983985192.jpg" alt="">
                              </div>
                              <div class="details">
                                    <div class="r-name">
                                          <h3>Room Name</h3>
                                          <p>R 999 pp/pn</p>
                                    </div>
                                    <p>Mollit amet nisi sunt ullamco reprehenderit irure commodo cillum cillum irure tempor fugiat elit. Sit commodo aute occaecat velit cupidatat esse mollit eu. Reprehenderit sint ullamco tempor laboris reprehenderit non dolor anim eu do nulla et exercitation. Labore aute adipisicing occaecat aliquip ullamco deserunt do minim sit do est magna non. Incididunt cillum voluptate id duis. Cupidatat proident aliqua id aute pariatur tempor veniam ullamco laboris id pariatur laboris aliquip Lorem.</p>
                  
                                    <div class="featuers">
                                          <h3>Features</h3>
                                          <hr>
                                          <div class="fet">
                                                <p>Feature 1</p> <p>Feature 2</p> <p>Another long feature</p> <p>simple feature</p> <p>one feature</p>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="d-card">
                                    <div class="remove">
                                          <ion-fab-button color="danger">
                                                <ion-icon name="trash"></ion-icon>
                                          </ion-fab-button>
                                    </div>
                                    <div class="d-image">
                                          <img src="../../assets/kisspng-coworking-virtual-office-company-business-good-job-5ad0443e7ebe59.4126615915235983985192.jpg" alt="">
                                    </div>
                                    <div class="details">
                                          <div class="r-name">
                                                <h3>Room Name</h3>
                                                <p>R 999 pp/pn</p>
                                          </div>
                                          <p>Mollit amet nisi sunt ullamco reprehenderit irure commodo cillum cillum irure tempor fugiat elit. Sit commodo aute occaecat velit cupidatat esse mollit eu. Reprehenderit sint ullamco tempor laboris reprehenderit non dolor anim eu do nulla et exercitation. Labore aute adipisicing occaecat aliquip ullamco deserunt do minim sit do est magna non. Incididunt cillum voluptate id duis. Cupidatat proident aliqua id aute pariatur tempor veniam ullamco laboris id pariatur laboris aliquip Lorem.</p>
                        
                                          <div class="featuers">
                                                <h3>Features</h3>
                                                <hr>
                                                <div class="fet">
                                                      <p>Feature 1</p> <p>Feature 2</p> <p>Another long feature</p> <p>simple feature</p> <p>one feature</p>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="d-card">
                                          <div class="remove">
                                                <ion-fab-button color="danger">
                                                      <ion-icon name="trash"></ion-icon>
                                                </ion-fab-button>
                                          </div>
                                          <div class="d-image">
                                                <img src="../../assets/kisspng-coworking-virtual-office-company-business-good-job-5ad0443e7ebe59.4126615915235983985192.jpg" alt="">
                                          </div>
                                          <div class="details">
                                                <div class="r-name">
                                                      <h3>Room Name</h3>
                                                      <p>R 999 pp/pn</p>
                                                </div>
                                                <p>Mollit amet nisi sunt ullamco reprehenderit irure commodo cillum cillum irure tempor fugiat elit. Sit commodo aute occaecat velit cupidatat esse mollit eu. Reprehenderit sint ullamco tempor laboris reprehenderit non dolor anim eu do nulla et exercitation. Labore aute adipisicing occaecat aliquip ullamco deserunt do minim sit do est magna non. Incididunt cillum voluptate id duis. Cupidatat proident aliqua id aute pariatur tempor veniam ullamco laboris id pariatur laboris aliquip Lorem.</p>
                              
                                                <div class="featuers">
                                                      <h3>Features</h3>
                                                      <hr>
                                                      <div class="fet">
                                                            <p>Feature 1</p> <p>Feature 2</p> <p>Another long feature</p> <p>simple feature</p> <p>one feature</p>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="d-card">
                                                <div class="remove">
                                                      <ion-fab-button color="danger">
                                                            <ion-icon name="trash"></ion-icon>
                                                      </ion-fab-button>
                                                </div>
                                                <div class="d-image">
                                                      <img src="../../assets/kisspng-coworking-virtual-office-company-business-good-job-5ad0443e7ebe59.4126615915235983985192.jpg" alt="">
                                                </div>
                                                <div class="details">
                                                      <div class="r-name">
                                                            <h3>Room Name</h3>
                                                            <p>R 999 pp/pn</p>
                                                      </div>
                                                      <p>Mollit amet nisi sunt ullamco reprehenderit irure commodo cillum cillum irure tempor fugiat elit. Sit commodo aute occaecat velit cupidatat esse mollit eu. Reprehenderit sint ullamco tempor laboris reprehenderit non dolor anim eu do nulla et exercitation. Labore aute adipisicing occaecat aliquip ullamco deserunt do minim sit do est magna non. Incididunt cillum voluptate id duis. Cupidatat proident aliqua id aute pariatur tempor veniam ullamco laboris id pariatur laboris aliquip Lorem.</p>
                                    
                                                      <div class="featuers">
                                                            <h3>Features</h3>
                                                            <hr>
                                                            <div class="fet">
                                                                  <p>Feature 1</p> <p>Feature 2</p> <p>Another long feature</p> <p>simple feature</p> <p>one feature</p>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
</div>
</ion-content>
