<ion-content>
  <div class="header">
    <div class="hotelname">
      <h1>Hotel  Name</h1>
    </div>
    <div class="bookings">
      <p>Overall Bookings: 56</p>
    </div>
    <div class="middle"></div>
    <div class="right">
      <div class="button">
        <button ion-button >Users</button>
      </div>
      <div class="button">
        <button ion-button >Rooms</button>
      </div>
      <div class="account">
        <div class="image">
          <div>
            <img src="../../assets/icon/favicon.png" alt="">
          </div>
        </div>
        <div class="name">
          <p>Admin</p>
        </div>
      </div>
      <div class="logout">
        <ion-icon (click)="logOut()" name="log-out"></ion-icon>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="list">
      <div class="search">
        <ion-searchbar expand="full"></ion-searchbar>
      </div>
      <div class="addroom">
          <ion-button expand="full" (click)="addRoom()">
              Add Room
              <ion-icon slot="end" name="add-circle-outline"></ion-icon>
            </ion-button>
      </div>
        <div class="listscroll">
          <div class="noroom" *ngIf="items.length==0">
              <p > Click 'Add Rooms' to create a new list</p>
          </div>
            <div class="card" *ngFor="let n of items">
                <div class="image">
                  <img src="{{n.image}}" alt="">
                </div>
                <div class="detail">
                  <h3>{{n.name}}</h3>
                </div>
                <div class="view" >
                  <div class="v" (click)="viewRoom(n) ">
                    <p>View</p>
                  </div>
                  <div class="d" (click)="deleteRoom(n)">
                    <p>Delete</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="details">
      <div *ngIf="!room.image" class="empty">
        <p>Click 'View' to see full details.</p>
      </div>
    <div *ngIf="room.image" class="content">
      <div class="roomimage" [ngClass]="{'classname': roominmage}">
        <img src="{{room.image}}" alt="">
      </div>
      <div class="more">
        <div class="desc">
          <h1>{{room.name}}</h1>
          <p>R{{room.price}} pp/pn</p>
          <h3>Description</h3>
          <p>{{room.description}}
          </p>
          <h3>Features</h3>
          <div class="serveces" *ngFor="let s of room.features">
            {{s}}
          </div>
        </div>
        <div class="reviews">
          <h1>Reviews</h1>
          <hr>
          <div class="scroll">
            <div class="bubble">
              <div class="profile">
                <div class="userimage">
                  <div>
                    <img src="../../assets/icon/favicon.png" alt="">
                  </div>
                </div>
                <div class="detail">
                  <h4>Name Surname</h4>
                  <p><i>27 Jul, 2019</i></p>
                </div>
              </div>
              <div class="comment">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed ante non odio sodales volutpat. Nullam imperdiet mi non ex eleifend, a mattis massa molestie. Curabitur facilisis sed orci vitae molestie. Nulla eget tincidunt massa. Integer ut ligula sit amet eros tincidunt tincidunt nec a neque. Duis nec aliquam neque. Etiam congue, metus ac vestibulum pretium, sapien eros placerat leo, quis accumsan urna sem sed ex. Ut mattis placerat interdum. In quis lacus at quam pulvinar molestie. Vestibulum purus sem, tempus vitae tempor vel, pretium eu velit. Sed massa tellus, hendrerit nec cursus eget, malesuada vitae lorem. Aenean purus magna, commodo et enim in, volutpat feugiat purus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- the users -->
  <div *ngIf="!view" class="container">
      <div class="list">
        <div class="search">
          <ion-searchbar expand="full"></ion-searchbar>
        </div>
          <div class="listscroll">
              <div class="card" *ngFor="let n of items">
                  <div class="image">
                    <img src="{{n.image}}" alt="">
                  </div>
                  <div class="detail">
                    <h3>{{n.name}}</h3>
                  </div>
                  <div class="view" (click)="viewRoom(n) ">
                    <p>View</p>
                  </div>
                </div>
          </div>
      </div>
      <div class="details">
        <div *ngIf="!room.image" class="empty">
          <p>Click 'View' to see full details.</p>
        </div>
      <div *ngIf="room.image" class="content">
        <div class="roomimage" [ngClass]="{'classname': roominmage}">
          <img src="{{room.image}}" alt="">
        </div>
        <div class="more">
          <div class="desc">
            <h1>{{room.name}}</h1>
            <p>{{room.description}}
            </p>
            <p>{{room.features}}</p>
          </div>
          <div class="reviews">
            <h1>Reviews</h1>
            <hr>
            <div class="scroll">
              <div class="bubble">
                <div class="profile">
                  <div class="userimage">
                    <div>
                      <img src="../../assets/icon/favicon.png" alt="">
                    </div>
                  </div>
                  <div class="detail">
                    <h4>Name Surname</h4>
                    <p><i>27 Jul, 2019</i></p>
                  </div>
                </div>
                <div class="comment">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed ante non odio sodales volutpat. Nullam imperdiet mi non ex eleifend, a mattis massa molestie. Curabitur facilisis sed orci vitae molestie. Nulla eget tincidunt massa. Integer ut ligula sit amet eros tincidunt tincidunt nec a neque. Duis nec aliquam neque. Etiam congue, metus ac vestibulum pretium, sapien eros placerat leo, quis accumsan urna sem sed ex. Ut mattis placerat interdum. In quis lacus at quam pulvinar molestie. Vestibulum purus sem, tempus vitae tempor vel, pretium eu velit. Sed massa tellus, hendrerit nec cursus eget, malesuada vitae lorem. Aenean purus magna, commodo et enim in, volutpat feugiat purus.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  <ion-fab *ngIf="view"  vertical="bottom" horizontal="end" slot="fixed" size="large" title="Edit Room">
      <ion-fab-button size="large" (click)="editRoom()">
        <ion-icon name="create" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
